<div class="conatiner">
      <table class="table table-stripped">
          <thead>
              <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Message</th>
              </tr>
          </thead>
        <tbody>
            <tr *ngFor="let mp of displayPost">
                    <th scope="row">{{mp.id}}</th>
                <td>{{ mp.name }}</td>
                <td>{{ mp.message }}</td>    
            </tr>
        </tbody>
    </table>
</div><br>