<article>
  <section class="jumbotron">
    <h2>My Messaging App</h2>
  </section>
  <section>
    <app-msg-list [displayPost]="myPost"></app-msg-list>
  </section>
  <section class="container" >
    <div class="row" style="width: 50%;">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="name">Name</span>
            </div>
            <input #newN type="text"  class="form-control" placeholder="Enter Name" aria-label="Username"
              aria-describedby="name">
          </div>
          <div class="input-group mb-3">
            <textarea type="text" #newP  class="form-control" placeholder="Enter Message"
              aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
          </div>
          <button class="btn btn-primary mb-3" (click)="add(newN.value,newP.value); newN.value=''; newP.value=''">
            Post Message
          </button>
    </div>
    

  </section>
</article>